* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 0px;
    background-image: url('spacefun-wallpaper.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-color: black;
}

P.bold {
    font-family: sans-serif;
    font-weight: bold;
}

INPUT.search{
    padding: 5px;
    font-size: 12pt;
    margin-top: 3%;
    border-right: solid black 2px;
    border-bottom: solid black 2px;
}

DIV#searcher {
    width: 68%;
    margin-top: 20%;
    padding: 10px;
    margin-left: 20%;
}

A {
    color: #cfbdbd;
}

A:visited {
    color: white;
}

A:hover {
    color: yellow;
}

DIV#results {
    color: #FFF;
    margin-top: 10%;
    margin-left: 5%;
}
